@import url('bootstrap.css');
.welcome {
  background-image: url("h_img.jpg");
  background-repeat: no-repeat;
}
.services{
  background-image: url("/home/jeffrey/Documents/moringa-prep/IP3/assets/backgrounds/s_image.jpg")
}