@import url('bootstrap.css');
.welcome {
  background-image: url("h_img.jpg");
  background-repeat: no-repeat;
}
.Services{
  background-image: url("s_image.jpg");
}
.jumbotron{
    background-image: url("c_image.jpg");
    height: 400px;
}