@import url('bootstrap.css');
#sec-1 {
  color: white;
  background-image: url("h_img.jpg");
  background-repeat: no-repeat;
}

#sec-3 {
  background-image: url("s_image.jpg");
}

#sec-5 {
  background-image: url("c_image.jpg");
}